<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Spring Framework Finni</title>
</head>

<body>
<h1>Author List</h1>
<table>
	<tr>
		<th>ID</th>
		<th>First Name</th>
		<th>Last Name</th>
	</tr>
	<tr th:each="author : ${authors}">
		<td th:text="${author.id}"></td>
		<td th:text="${author.firstName}"></td>
		<td th:text="${author.lastName}"></td>
	</tr>
</table>
</body>
</html>